**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [ ]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [ ]:
ratings[ratings['rating'] == 5.0]

In [ ]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

In [ ]:
joined['movieId'].value_counts().head(10)
joined.loc[joined['movieId'] == 356, 'title']

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
data = pd.read_csv('power.csv')
baltic = data[ (data['country']=='Lithuania') | (data['country']=='Latvia') | (data['country']=='Estonia') ]
baltic.head()

       country  year  quantity  category
373  Lithuania  2014      39.0         1
374  Lithuania  2013     192.0         1
375  Lithuania  2012     196.0         1
376  Lithuania  2011     171.0         1
377  Lithuania  2010     158.0         1

In [4]:
category = baltic [ (baltic['category']==4) | (baltic['category']==12) | (baltic['category']==21) ]
category.head()

       country  year  quantity  category
10617  Estonia  2008       1.0         4
10618  Estonia  2007       0.0         4
10619  Estonia  2006       0.0         4
10620  Estonia  2005       1.0         4
10621  Estonia  2004       1.0         4

In [6]:
year = category [ (category['year']==2005) | (category['year']==2006) | (category['year']==2007) | (category['year']==2008) | (category['year']==2009) | (category['year']==2010)]
year.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

In [7]:
year.quantity.sum()

240481.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [14]:
df = pd.read_html('https://fortrader.org/quotes')
df[0]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURRUB Курс евро к рублю сегодня,78.0271,0.6215,0.8029,NaN
1,USDRUB Курс рубля к доллару,69.6562,0.6358,0.9212,NaN